$fonts:'Roboto', sans-serif;

$colors:(
    background:#F7FBFC,
    background_highlighted:#DCC7E7,
    logo:#DCC7E7,
    logo_slogan:#585759,
    letterings_1:#585759,
    letterings_2:white, 
    color_hover:#F5C33B,
    border_color:#585759,
)

