@use '_commons' as c;

#nav__bar{
    position: fixed;
    background-color:map-get(c.$colors,"background");
    width: 100%;
}

.worldwide__shipping{
    text-align: center;
    font-family: c.$fonts;
    font-size: 12px;
    line-height: 0px;
    margin-bottom: -30px;
    width: 100%;
}

.animate__animated.animate__flash {
    --animate-duration: 5s;    
}
  
.logo{
    text-align: center;
    font-family: monospace;
    font-size: 80px;
    letter-spacing: -14px;
    color:map-get(c.$colors,"logo");
    line-height: 0px;
    margin-bottom: -52px;
}

.logo a{
    text-decoration: none;
    color:map-get(c.$colors,"logo");
    }

.logo__slogan{
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    letter-spacing: -1px;
    color:map-get(c.$colors,"logo_slogan");
    line-height: 0px;    
}

/* Inicio menu */
/* Menu hamburguesa */
.toggle__menu__img img{
    max-width: 100%;      
}

.toggle__menu__img{
    position: absolute;
    width: 35px;
    cursor: pointer;    
    background-color:map-get(c.$colors,"background");
    padding-top: 5px;
    padding-left: 5px;    
    padding-right: 100%;    
}

@media screen and (min-width: 768px) {
    .toggle__menu__img{
        display: none;
    }
}

.toggle__menu__checkbox:checked + .menu__container ul{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 300%;
}

.toggle__menu__checkbox{
    display: none;
}
/* Fin menu hamburguesa */

/* Main menu */
.menu__container ul{
    display: none;    
}

@media screen and (min-width: 768px){
    .menu__container ul{
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content:space-around;
        padding-bottom: 10px;
    }
}

.menu__container ul li{
    font-family:c.$fonts;
    list-style: none;
    color:map-get(c.$colors,"letterings_1");
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin-top: 30px;
}

@media screen and (min-width:768px) {
    .menu__container ul li:hover{
        -webkit-transform:scale(1.3);transform:scale(1.3);
    } 
}

.menu__container ul li a{
    color:map-get(c.$colors,"letterings_1");
    text-decoration: none;
}

.menu__container ul li a:hover{
    color:map-get(c.$colors,"color_hover");
}